.model-header{
    height: 77px!important;
    padding:0;
    background-image: url('./../../../assets/images/header/headerRightBack.png'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    
}
.model-header-left-logo{
    background-image: url('./../../../assets/images/header/headerLeftNew.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    /* background-color: wheat; */
    height: 77px!important;
    width: 399px!important;
}
.header-text{
    position:absolute;
    margin-top: 15px;
    left:399px;
    top:16px;
    width: 764px;
    height: 37px;
    text-align:left;
    font-size: 22px;
    font-family: MicrosoftYaHei;
    color: #0F4482;
    line-height: 37px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.13);
}

.model-header-right{
    height: 77px!important;
    width: 100%;
    overflow: hidden;
}
.model-main-container{
    padding: 30px;
    background: #ECF0F8;
}
.model-main{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #93A5E0;
    /* padding:20px 30px 0; */
}
.model-main-title{
    height: 60px!important;
    text-align: left;
    padding-left: 20px ;
    line-height:60px;
    border-bottom: 1px solid #E9EFFC;
}

.model-msg-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 16px;
    color: white;
    padding-left:50px;
    font-family: MicrosoftYaHei;
    border-bottom: 1px solid #788492;
}
.model-msg-title-second{
    background-color: lightsteelblue;
    width: 64px;
    height: 20px;
    /* font-size: 14px; */
    line-height: 20px;
    text-align: center;
    border-radius: 26px;
    color: white;
    margin-top: 10px;
}
.model-msg-aside-top{
    height:230px!important;
    text-align:left;
}
.model-msg-aside-top p{
    line-height:20px;
    margin:2px 0;
}
.model-msg-aside-top .model-msg-aside-tree{
    height:140px;
    margin-top:5px;
    color:white;
    padding-right: 5px;
}
/***    建模 树 样式 *****/
.model-msg-aside-top >>>.el-tree-node__label {
    font-size: 14px;
    white-space: normal;
}
.model-msg-aside-top >>>.el-tree-node__content:hover {
    background-color: #242B43;
}
.model-msg-aside-top  >>>.el-tree-node__content {
    height: auto;
}
.model-msg-aside-bottom{
    padding:0;
    margin: 0px;
    color:white;
    overflow: hidden;
}
.model-msg-aside-bottom .title{
    height:50px;
    line-height:50px;
    font-size:14px;
    text-align:left;
}
.model-msg-slider{
    border-top:  1px solid #788492;
    margin:10px 0;
}
.returnBtn{
    position: absolute;
    left: 5px;
    top: 80px;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin: 14px 5px;
    border: 0;
}
.right_aside_div_title{
    width: 276px;
    background:#242B43;
    text-align: left;
    font-size: 16px;
    color: white;
    padding-left: 10px;
    height:50px;
    line-height:50px;

}
.rightForm{
    margin-bottom: 20px;
    color: white;
}
.long_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.thirdSearch{
    position: absolute;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    z-index: 5;
    right: 280px;
    padding-right:15px;
}

.main-header-step-progress{
    background: #F5F7F9;
    padding:0;
    height:47px;
    overflow:hidden;
}
.right-aside-msg{
    border-left: 1px solid #D0D0D0;background:#333A52;color:white;
}
.divList{
    text-align: left;
    line-height: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 14px;
}
/* 建模step */
/* .main-header-step-progress  */
 >>>.el-step__title{
    white-space: nowrap;
}
 >>>.el-steps--simple {
    padding: 19px 30px;
    border-radius: 4px;
    background: #FFF9EE;
    border: 1px solid #D0D0D0;
}
/* .main-header-step-progres  */
>>>.el-step__title.is-process {
    font-weight: 700;
    color: #FF7500!important;
}
>>>.is-finish .el-step__icon.is-icon {
    width: 40px;
    color: black;
}
/* #main-header-step-progres  */
>>>.is-process .el-step__icon.is-icon {
    width: 40px;
    color: #FF7500;
}
/* .main-header-step-progres  */
>>>.el-step__title.is-finish {
    color: black;
}

.right-aside-msg >>>.el-form-item__label {
    color: white;
}
.right-aside-msg  >>>tr {
    background-color: #333A52;
    color: white;
}
.right-aside-msg >>>td, .rightForm >>>th.is-leaf {
    border-bottom: 0px ;
    background-color: #333A52;
    color: white;
}
.right-aside-msg  >>>.el-table__empty-block {
    background-color: #333A52;
    color: white;
}
.right-aside-msg >>>.el-table--border, >>>.el-table--group {
    border: 0;
}
.right-aside-msg >>>.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #333A52;
}

.rightForm >>>.el-checkbox__label {
    color: white;
}
.rightForm >>>.el-input.is-disabled .el-input__inner {
    color: white;
    background-color: #333A52;
    cursor: not-allowed;
    border: 0;
}
.rightForm >>>.el-input.is-disabled .el-input__icon {
    cursor: not-allowed;
    color: #333A52;
}
.rightForm >>>.el-form-item {
    margin-bottom: 0;
}

.rightForm >>>.el-form-item__content {
    text-align: left;
}

/* 建模第三个节点圈-柱图 */
#ldavis_third_id >>>path {
    fill: none;
    stroke: none;
}
#ldavis_third_id >>>text {
    font-family: sans-serif;
    font-size: 11px;
    position: relative!important;
}
#editNode5Table >>>.el-table__expanded-cell{
    padding: 0px;
}
.textareaHeaderCss{
    height: 100%;
}
.textareaHeaderCss >>>.el-textarea__inner{
    height: 100%;
}
.jbColor >>>.el-table tr:nth-child(1){
    background: #AACCFF;
}
.jbColor >>>.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: transparent;
}
.jbColor >>>.el-table tr:nth-child(2){
    
    background: rgba(170, 204, 255, 0.8);
}
.jbColor >>>.el-table tr:nth-child(3){
    background: rgba(170, 204, 255, 0.6);
}
.jbColor >>>.el-table tr:nth-child(4){
    background: rgba(170, 204, 255, 0.4);
}
.jbColor >>>.el-table tr:nth-child(5){
    background: rgba(170, 204, 255, 0.2);
}
.jbColorHoverCell >>>.el-table__body tr td:hover{
    background-color: #8EBBFF!important;
}

.puxituDialog_title{
    text-align: left;
    background: #E9EFFC;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 10px;
}

#editNode5Table >>> tr {
    background: #EAEEF7!important;
}
#editNode5Table >>>thead {
    display: none;
}
 #editNode5Table >>>.el-table__header-wrapper {
    display: none;
}



 
