.page1-unit-title-div{
    text-align: left;
    /* padding: 10px; */
    font-size: 20px;
    font-family: SourceHanSansCN-Bold, SourceHanSansCN;
    font-weight: bold;
    height:60px;
    color: #000A12;
    line-height: 60px;
    padding-left: 10px;
}
.page1-rank2-title-div{
    height: 48px!important;
    background: #E9EFFC;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #111111;
    line-height:48px;
    text-align:left;
    padding-left:10px;
    border-right: 1px solid #93A5E0;
}