
.bWhite{
    background-color: rgb(215, 224, 195);
}
.el-row{
    margin-bottom: 30px;
}
.echart-unit-title-div{
    text-align:left;
    color:white;
    font-size: 18px;
    padding: 10px;
    height: 40px!important;
}
.table-wrapper /deep/ .el-table--fit{
    padding: 20px;
}
.table-wrapper /deep/  .el-table, .el-table__expanded-cell {
    background-color: transparent;
}

.table-wrapper /deep/ .el-table tr {
    background-color: transparent!important;
}
.table-wrapper /deep/  .el-table--enable-row-transition .el-table__body td, .el-table .cell{
    background-color: transparent;
}

  .your-table .el-table__body-wrapper::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }
  .your-table .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #a1a3a9;
      border-radius: 3px;
  }
  /* ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #a1a3a9;
      border-radius: 3px;
  } */
.el-cascader-menu__wrap {
    height: 504px;
}
.exportAbtn{
    position: absolute;
    right:280px;
    top: 20px;
    font-size:14px;
    padding-top: 10px!important;
}
